.hero {
  height: calc(100vh - 100px);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px red solid; */
}

.heroText {}

.heroText p {
  color: white;
  margin-top: 12px;
  font-size: 0.875rem;
}

.about {
  height: 100vh;
  padding: 2rem;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem
}

/* .info {
  flex-basis: 60%;
} */

.info p {
  margin-top: 0.75rem;
}

.connect {
  margin-top: 1.5rem;
}

.prompt a {
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.stack {
  /* margin-top: 1.5rem; */
}

.stack li {
  list-style-type: none
}

.projects {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects h2 {
  color: white;
}

.projectsList {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

.projectsList p {
  color: white;
  margin-top: 1.5rem;
}

.projectItem {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  object-fit: contain;
}

.projectItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.projectImage {
  object-fit: cover;
}

.experience {
  background: #f0f0f0;
  padding: 2rem;
}

.experience h2 {
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .about {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .info {
    flex-basis: 60%;
  }

  .stack {
    margin-top: 0;
  }

  .projectsList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .projectItem {
    height: 300px;
  }
}